.container
{
    width: 50%; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    border: 1px solid #888888;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #58e6cc69;
    box-shadow: 3px 3px #888888;
}

.form-style-8{
    font-family: Verdana, sans-serif;
    /*max-width: 50%;*/
  }

.form-style-8 h2{
   
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', arial, sans;
    color: #000;
    font-size: 35px;
    max-width: 50%;
    font-weight: 100;
    padding: 20px;
    text-align: center;
    margin-left: 134px;
}

.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}

span
{
    display: none;
    font-family: Verdana, sans-serif;
  font-style: italic;
    font-size: 15px;
    margin: 8px 190px;
    padding-left: 2px;
    color: red;
}


.error input ,span
{
    border: 2px solid #ff0000a6;
    }
.correct input
{
    border: 2px solid #2ec0c778;
}

.form-style-8 input[type="button"]:hover
{
    background-color: gray;
}
.form-style-8 input[type="submit"]:hover 
    background:linear-gradient(to bottom, #33caa7b3 5%, #33caa7b3 100%);
    background-color:#2ec0c7d9;
}
.sub:hover, input[type=reset]:hover {
 background-color:#FCDEDE;
 align-content: center;
 }
.sub:active, input[type=reset]:active {
 background-color:#FCDEDE;

 box-shadow:1px 1px 1px #D83F3D inset;
}
.sub{
    border: none;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 165px;
    cursor: pointer;
    border-radius: 4px;
    float: left;
    background-color: #004e7b94;
}
.btn{
    background-color: #aeee00c2;
    border: none;
    color: white;
    width: 10%;
    padding: 12px 20px;
    text-decoration: none;
    margin: -15px ;
    margin-right: 250px;
    float: right;
    cursor: pointer;
    border-radius: 4px;
}
.input
{
    vertical-align:center;
    text-align: center;
    display: block;
    width: 25%;
    padding: 12px 76px;
    margin: 33px 161px;
    border-radius: 4px;
}

.input-btn
{
        border: none;
    width: 20%;
    padding: 12px 19px;
    margin: 8px -117px;
    cursor: pointer;
    border-radius: 4px;
    /* float: right; */
    background-color: darkgray;
}

.input-btn, .sub
{
    display: inline-block;
}
.lien
{
       margin-left: 248px;
    /* margin-top: 16px; */
    padding-left: 10px;
}
label
{
     
    width: 50%;
    padding: 12px 20px;
    margin-left: 248px;
    text-align: center;
    font-family: 'Open Sans Condensed', arial, sans;
}




.msg
{
    font-family: Verdana, sans-serif;
  font-style: italic;
}
.message span
{
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #999999;
    line-height: 3.5;
    margin-left: 685px;
    /* margin-right: -28px; */
}

