.container
{

}

.navbar
{

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container h2{
border-bottom: 2px solid #64aa669c;
margin-left: auto;
margin-right: auto;
width: 14em;
text-align: center;
font-size: 25px;
text-shadow: 2px 2px 2px #64aa669c;
font-family: Gentium Book Basic;
margin: 150px auto;
color: #333;
}